.login-bg{
  background: linear-gradient(to right,#4facfe,#00f2fe);
}
.login-card{
  width: 380px;
  border-radius: 15px;
}
.form-control:focus{
  box-shadow: none;
  border-color: #4facfe;
}
.btn-primary{
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #0d6efd;
}