<div class="container-fluid d-flex justify-content-center align-items-center vh-100 login-bg">
    
    <div class="card shadow-lg login-card border-0 ">
        
        <div class="card-header text-center bg-white border-0 pt-4">
            <h3 class="fw-bold text-primary mb-1">Welcome Back</h3>
            <p class="text-muted small mb-1">Login to your account</p>
        </div>

        <div class="card-body px-4 pb-4">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <label class="form-label fw-semibold">Username</label>
                    <input type="text" class="form-control form-control-lg" formControlName="username">

                    <small class="text-danger" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
                        Username is required 
                    </small>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold">Password</label>
                    <input type="password" class="form-control form-control-lg" formControlName="password">

                    <small class="text-danger"
                        *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.['required']">
                        Password is required
                    </small>

                    <small class="text-danger"
                        *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.['minlength']">
                        Minimum 8 characters required
                    </small>
                </div>

                <button class="btn btn-primary w-100 mt-3 py-2 fw-semibold" type="submit">
                    Login
                </button>

            </form>
        </div>
        <div class="card-footer text-center bg-white border-0 pb-4">
            <small class="text-muted">
                Don't you have an account?
                <a routerLink="/signup" class="fw-semibold text-primary">Signup</a>
            </small>
        </div>

    </div>
</div>