<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4 shadow">

  <span class="navbar-brand fw-bold fs-4">
    TaskFlow Pro
  </span>

  <div class="ms-4 d-flex gap-3">

    <ng-container  *ngIf="isUser()">
      <a routerLink="/user/dashboard" class="btn btn-outline-light btn-sm">
        Dashboard
      </a>

      <a routerLink="/user/tasks" class="btn btn-outline-light btn-sm">
        My Tasks
      </a>
    </ng-container>

    <ng-container *ngIf="isAdmin()">
      <a routerLink="/admin/dashboard" class="btn btn-outline-light btn-sm">
        Dashboard
      </a>

      <a routerLink="/admin/tasks" routerLinkActive="btn-light text-primary"
        class="btn btn-outline-light btn-sm">
        Tasks
      </a>

      <a routerLink="/admin/users" class="btn btn-outline-light btn-sm">
        Users
      </a>
    </ng-container>

  </div>

  <div class="ms-auto d-flex align-items-center gap-3">

    <span class="text-white fw-semibold">
      Welcome, {{username}}
    </span>

    <button class="btn btn-light btn-sm px-3" (click)="logout()">
      Logout
    </button>

  </div>

</nav>