<div class="container mt-5">
    <div class="card p-4 shadow mx-auto" style="width: 300px;">
        <h3 class="text-center">Login</h3>
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <div class="mb-2">
                <input type="text"
                        name="username"
                        [(ngModel)]="username"
                        class="form-control"
                        placeholder="Username"
                        required>
            </div>

            <div class="mb-4">
                <input type="password"
                        name="password"
                        [(ngModel)]="password"
                        class="form-control"
                        placeholder="Password"
                        required>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" 
                        class="btn btn-outline-primary w-50"
                        [disabled]="loginForm.invalid">
                        Login
                </button>

                <button type="button" class="btn btn-outline-danger w-50" (click)="cancel(loginForm)">
                    Cancel
                </button>

            </div>

        </form>

        <p class="text-danger text-center mt-2" *ngIf="errormsg">
            {{errormsg}}
        </p>
    </div>

</div>
