<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">

    <h3 class="fw-bold text-danger"> Admin - Users Dashboard</h3>
    <span class="badge bg-dark px-3 py-2">Total Users: {{ users.length }}</span>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-4 gap-3">

  <input type="text"
         class="form-control w-50"
         placeholder=" Search users..."
         [(ngModel)]="searchText"
         (input)="applyFilters()">

  <select class="form-select w-25"
          [(ngModel)]="filterType"
          (change)="applyFilters()">

    <option value="all">All Users</option>
    <option value="active">Active</option>
    <option value="blocked">Blocked</option>

  </select>

</div>

  <div class="row g-4">

    <div class="col-md-4" *ngFor="let user of filteredUsers">

      <div class="card user-card shadow-sm h-100">

        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0 fw-bold">{{ user.username }}</h5>

          <span class="badge"
                [ngClass]="user.isBlocked ? 'bg-danger' : 'bg-success'">
            {{ user.isBlocked ? 'Blocked' : 'Active' }}
          </span>
        </div>

      
        <div class="card-body">

          
          <div class="stats">

            <div class="stat-box total">
              <h6>Total</h6>
              <p>{{ user.totalTasks }}</p>
            </div>

            <div class="stat-box pending">
              <h6>Pending</h6>
              <p>{{ user.pendingTasks }}</p>
            </div>

            <div class="stat-box completed">
              <h6>Done</h6>
              <p>{{ user.completedTasks }}</p>
            </div>

          </div>

        </div>


        <div class="card-footer text-center d-flex gap-2">

        
        <ng-container *ngIf="user.id !== currentUser?.id">

            <button class="btn btn-sm w-50"
                    [ngClass]="user.isBlocked ? 'btn-success':'btn-warning'"
                    (click)="toggleBlock(user)">
            {{user.isBlocked ? 'Unblock User' :'Block User'}}
            </button>

            <button class="btn btn-sm btn-danger w-50"
                    (click)="deleteUser(user.id)">
            Delete
            </button>

        </ng-container>

        </div>

      </div>

    </div>

  </div>

</div>
